{% extends "auctions/layout.html" %}

{% block body %}
    <h1>Create Listing</h1>
    {% if user.is_authenticated %}
    <form action="{%url 'createListing'%}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        title:  <input name="title" type="text" placeholder="Title"></br>
        description: </br><textarea name="description"></textarea></br>
        starting bid: <input name="startingBid" type="number"></br>
        image: <input type="file" name="image">
        category: <select name="category">
            {% for category in categories %}
            <option name="category" value="{{category}}">{{category.category}}</option>
            {% endfor %}
        </select>
        <input type="submit" name="Submit">
    </form> 
    {% else %}
    <h3>Please <a href="{% url 'login'%}">Login</a>  Before creating a Listing.</h3>
    {% endif %}
{% endblock %}