{% extends "auctions/layout.html" %}

{% block body %}
    <a href="{% url 'createListing'%}">Create Listing</a>
    <h2>Active Listings</h2>
    {% for listing in listings %}
        <div class="container-fluid">
            <a href="{% url 'listing' name=listing.title%}"><h1>{{listing.title}}</h1></a>
            <h2>Category : {{listing.category.category}}</h2>
            <p>{{listing.description}}</p>
            {% if listing.image %}
            <img src="{{listing.image.url}}" alt="photo">
            {% endif %}
            <h4>Starting Bid : {{listing.startingBid}}</h4>
            <h4>Actual price : {{listing.price}}</h4>
            <br><br>
            ----------------------------------------------------
        </div>  
    {%empty%}
    No Listings
        
    {% endfor %}
    
{% endblock %}